{% load staticfiles %}
<!doctype html>
<html lang = "pt-br">
	<head>
		<meta charset="utf-8">
		<title>ConnectedIn</title>
		<link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'styles/main.css' %}">
	</head>
	<body>
		<div class="container">
			<div class = "header">
				<h3 class = "text-muted">ConnectedIn</h3>
			</div>

			<div class="row content">
				<center><div class = "well well-sm">Este Perfil esta desativado</div></center>

				<div class = "header">
					<h4>Deseja ativar este perfil?</h4>
						<ul class = "nav nav-pills">
						<li>
							<p>
							<a href = "{% url 'confirmarAtivacao' %}"><button type="button" class="btn btn-primary">Sim</button></a>
							<a href = "{% url 'login' %}"><button type="button" class="btn btn-primary">Não</button></a>
							</p>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</body>
</html>