{% extends 'base.html' %}
{% block body %}
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
            {% with total_convites=perfil_logado.convites_recebidos.count %}
                <strong>Você tem {{ total_convites }}
                        convite{{ total_convites | pluralize}}</strong>
            {% endwith %}
		</div>

		<ul  class="list-group">
			{% with total_convites=perfil_logado.convites_recebidos.count %}
                {% if total_convites %}
                    {% for convite in perfil_logado.convites_recebidos.all %}
                        <li class="list-group-item">
							{{convite.solicitante.nome}}
							<a href="{% url 'aceitar' convite.id %}" data-toggle="tooltip" title="Aceitar" class="pull-right">
							    <span class="glyphicon glyphicon-ok"/>
                            </a>
						</li>
					{% endfor %}
                {% else %}
					<li class="list-group-item">
						<p>Nenhum convite recebido :(</p>
					</li>
				{% endif %}
			{% endwith %}
		</ul>
	</div>
</div>
{% endblock %}