<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar Usuário</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<script src="vue.min.js"></script>
	<script src="axios.min.js"></script>
	
</head>
<body>
	<div id="app">
		<div class="input-field">
			<select class="browser-default" v-model="selected">
                <option disabled value="">Alimento</option>
                <option v-for="alimento in options" v-bind:value="alimento.id" >
                    {{ alimento.descricao }}
                </option>
            </select>
        </div>
	</div>



	
	<script type="text/javascript">
		let token = localStorage.getItem('token');
		let config = {'Authorization': 'Token ' + '5b383d3fdd2561687b2e5a7374ebc972ce6ff0c8'};

		var app = new Vue({
			el: '#app',
			data : {
				selected : '1',
				options: []
			},
			mounted (){
				console.log("aki")
				axios.get('http://localhost:8080/alimentos/', {headers: config})
			    .then((response) => {
			        console.log(response.data);
			    	this.options = response.data.results;
			    })
			    .catch(error => {
			        console.log(error)
			    })
			    $('select').material_select();
			},
			methods : {
				
			}
		})
	</script>
</body>
</html>